body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 2rem;
    width: 40%;
    margin-left: 30%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-container {
    justify-content: center;
    align-items: center;
}

.screen {
    height: 70px;
    width: 95%;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: greenyellow; 
}

.buttons {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 0.5rem;
}

.numbers, .operations {
    font-size: large;
    font-style: italic;
    display: inline-block;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2rem;
}

.numbers:focus, .operations:focus {
    outline: none;
}

.numbers:active, .operations:active {
    transform: scale(0.98);
}